:root {
    /* Primary Colors */
    --blue-pclr-200: hsl(225, 100%, 94%);
    --blue-pclr-500: hsl(245, 75%, 52%);
    --active-clr: hsl(245, 72%, 65%);

    /* Neutral Colors */
    --blue-nclr-100: hsl(225, 100%, 98%);
    --blue-nclr-300: hsl(224, 23%, 55%);
    --blue-nclr-800: hsl(223, 47%, 23%);

    /* Font Size */
    --fs-para: 1rem;

    /* Font Family */
    --ff-default: 'Red Hat Display', sans-serif;
    
    --fw-regular: 500;
    --fw-bold: 700;
    --fw-black: 900;
}

/* html reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

p,
h1 {
    overflow-wrap: break-word;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--ff-default);
    font-weight: var(--fw-bold);
    background-color: var(--blue-pclr-200);
    color: var(--blue-nclr-300);
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    text-align: center;

    display: grid;
    place-content: center;
    min-height: 100vh;
    
}

.container {
    background-color: white;
    margin-inline: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 375px;
}

h1 {
    font-weight: var(--fw-black);
    font-size: 1.5rem;
    color: var(--blue-nclr-800);
    padding: 1rem;
}

.about-section {
    padding: 1.5rem 1.5rem;
}

.about-text {
    padding: 0 1.2rem;
    margin-bottom: 1rem;
    margin: 0 10px 1rem 10px;
}

.membership-info {
    display: flex;
    align-items: center;
    text-align: start;
    gap: 2rem;
}

.annual-payment .title {
    font-weight: var(--fw-black);
    font-size: 16px;
    color: var(--blue-nclr-800);
}

.price {
    font-weight: var(--fw-regular);
    color: var(--blue-nclr-300);
}

a {
    font-size: 14px;
    text-decoration: underline;
    color: var(--blue-pclr-500);
}

a:hover {
    cursor: pointer;
    color: var(--active-clr);
}

p {
    line-height: 1.5;
    font-weight: var(--fw-regular);
}

.flex-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--blue-nclr-100);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.payment-btn {
    display: block;
    width: 100%;
    border: none;
    background-color: var(--blue-pclr-500);
    color: white;
    border-radius: 0.6rem;
    padding: 14px 28px;
    box-shadow: 0px 9px 33px -3px rgba(56,41,224,0.33);
    margin-bottom: 1.5rem;
}

.payment-btn:hover {
    background-color: var(--active-clr);
    cursor: pointer;
}

.cancel-order-btn {
    font-weight: var(--fw-black);
    margin-bottom: 1rem;
}

.cancel-order-btn:hover {
    color: var(--blue-nclr-800);
    cursor: pointer;
}


@media (min-width: 600px) {
    body {
        min-height: 100vh;
        display: grid;
        place-items: center;
        background-image: url(./images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    }
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }